<!--#include virtual="include/head.html" -->
<!--#include virtual="include/header.html" -->
<!--#include virtual="include/overlay.html" -->

<div class="main">
	<div class="hero">
		<div class="hero-inner">
			<h1 class="hero-title">
				PayPal UK Business Forum <span class="hero-subtitle">2 March 2016, 1.30 - 5.30pm</span>
			</h1>
		</div>
	</div>
	
	<div class="section section--intro">
		<div class="section-content">
			<div class="section-contentInner">
				<!--#include virtual="include/intro.html" -->
			</div>
		</div>
		<div class="section-aside">
			<!--#include virtual="include/form.html" -->
		</div>
	</div>
	

	<!--#include virtual="include/accordion.html" -->
	 
	<!--#include virtual="include/speakers.html" -->

	<!--#include virtual="include/map.html" -->

	 <div class="section section--alt">
	 	<div class="section-inner">
			<h2 class="section-title">
				See you soon!
			</h2>
		</div>
	</div>
</div>
<!--#include virtual="include/footer.html" -->
<!--#include virtual="include/foot.html" -->
