/**
 * Accordion
 *
 *
 */

.accordion {
  margin-top: 2em;

  @media screen and (min-width: $scrDeskS) {
    margin-top: 4em;
    position: relative;
  }
}

.accordion-items {
  position: relative;
  text-align: left;

  p {
    font-size: $fontsizeSmaller !important;
    line-height: 1.8;
    padding: 0;
  }

  @media screen and (min-width: $scrDeskS) {

    p {
      font-size: $fontsizeSmall !important;
    }
  }
}

.accordion-item {

  @media screen and (min-width: $scrDeskS) {
    
    &:last-child {
      
      .accordion-header {
        border-bottom: 0;
      }
    }
  }
}

.accordion-header {
  align-items: center;
  border-bottom: 1px solid $colorBlueLight;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  transition: background .3s ease-out;

  .is-active & {
    background: $colorGreyLighter;
  }

  @media screen and (min-width: $scrDeskS) {
    width: 50%;
    margin-right: 20px;
  }
}

.accordion-headerInner {
  flex: 0 0 89%;
}

.accordion-headerTitle,
.accordion-contentTitle {
  color: $colorBlueLight;
  font-family: $fontText;
  font-size: $fontsizeSmall;
  font-weight: normal;
  line-height: 1.4;
  margin: 0 0 .4em;
  padding: 0;

  @media screen and (min-width: $scrDeskS) {
    font-size: $fontsize;
  }
}

.accordion-itemButton {
  cursor: pointer;
  display: flex;
  flex: 0 0 10%;
  height: 50px;
  margin-right: 0;
  transition: transform .3s ease-out;
  width: 50px;

  // IE11 fix for positioning buttons
  display: inline-block;

  .icon {
    @include svgColor($colorBlueLight);
    height: 100%;
    width: 100%;
  }

  .is-active & {
    transform: rotate(-180deg);
  }

  .no-js & {
    display: none;
  }

  @media screen and (min-width: $scrDeskS) {
    
    .is-active & {
      transform: rotate(-90deg);
    }
  }
}

.accordion-content {
  border-bottom: 1px solid $colorBlueLight;
  max-height: 0;
  opacity: 0;
  overflow: hidden;  

  /* Slide down and fade in */
  transition: opacity .8s, max-height .5s ease-out;

  .is-active & {
    max-height: 450px; /* approximate max height */
    opacity: 1;
    overflow: visible;
  }

  .no-js & {
    max-height: none;
    opacity: 1;
    overflow: visible;
  }

  @media screen and (min-width: $scrDeskS) {
    border-top: 1px solid $colorBlueLight;
    max-height: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 48%;
    transition: opacity .3s;

    .is-active & {
      max-height: 350px; /* approximate max height */
    }

    .no-js & {
      border-top: 0;
      position: static;
    }
  }
}

.accordion-contentInner {
  padding: 20px 15px;
}

.accordion-contentTitle {}
