/**
 * Carousel
 *
 * Uses SlickJS Carousel
 */

.carousel {
  margin: 2em auto;
  max-width: 960px;
}

.carousel-items {
  
  @media screen and (min-width: $scrTablS) {
    display: flex;
    flex-wrap: wrap;
    margin: -1em 0 0 -1em;
  }
}

.carousel-item {
  margin: 0 0 2em;
  z-index: $depth-1;

  @media screen and (min-width: $scrTablS) {
    flex: 0 0 33.3333%;
    padding: 1em 0 0 1em;
  }
}

.carousel-itemMedia {}

.carousel-itemContent {
  background: $colorWhite;
  padding: 22px;
}

.carousel-itemTitle {
  color: $colorBlue;
  font-family: $fontHeadingSmall;
  font-size: $fontsizeLarge;
  font-weight: 400;
  margin: 0 0 14px;
  padding: 0;
}

.carousel-itemSubtitle {
  font-size: $fontsize;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

.carousel-itemLink {
  color: $colorBlue;
  display: block;
  margin: 25px 0 0;
}
