/**
 * Theme Configuration
 *
 */


// General

$spc: 20px; // Spacing variable user throughout
$rds: 3px; // Radius value




// Grid System

$col: 12; // Number of columns on the grid
$gut: $spc; // Gutter pixel value



// Colours

$c0: #000000;
$c1: #111111;
$c2: #222222;
$c3: #333333;
$c4: #444444;
$c5: #555555;
$c6: #666666;
$c7: #777777;
$c8: #888888;
$c9: #999999;
$ca: #aaaaaa;
$cb: #bbbbbb;
$cc: #cccccc;
$cd: #dddddd;
$ce: #eeeeee;
$cf: #ffffff;


$colorBlueLighter:  #70d2f6;
$colorBlueLight:    #45c4f3;
$colorBlue:         #00aeef;

$colorGreyLightest: #e9e9e9;
$colorGreyLighter:  #f7f7f7;
$colorGreyLight:    #c5c5c5;
$colorGrey:         #4d4d4d;
$colorGreyDark:     #333;
$colorGreyDarker:   #111;

$colorBlack:        #000;
$colorWhite:        #fff;

// Branding

$color1: $colorGrey; // Primary colour
$color2: $colorBlue; // Secondary colour
$color3: $colorWhite; // Tertiary colour

// Global

$colorBody:     $colorWhite; // Body background colour
$colorHeading:  $colorWhite; // Heading colour
$colorText:     $colorGrey; // Text colour



// Typography

@font-face {
    font-family: pp-sans-big-light;
    src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Light.eot);
    src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Light.eot?#iefix) format("embedded-opentype"),
        url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Light.woff) format("woff"),
        url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/headlinedark/festivo1.ttf) format("truetype"),
        url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Light.svg) format("svg")
}

@font-face {
    font-family: pp-sans-big-thin;
    src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Thin.eot);
    src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Thin.eot?#iefix) format("embedded-opentype"),
    url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Thin.woff) format("woff"),
    url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/headlinedark/festivo1.ttf) format("truetype"),
    url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Thin.svg) format("svg")
}

@font-face {
    font-family: pp-sans-small-regular;
    src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Regular.eot);
    src: url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Regular.eot?#iefix) format("embedded-opentype"),
    url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Regular.woff) format("woff"),
    url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/headlinedark/festivo1.ttf) format("truetype"),
    url(https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Regular.svg) format("svg")
}

$fontText: pp-sans-small-regular, "Helvetica Neue", Helvetica Neue, Arial, sans-serif;
$fontHeadingSmall: pp-sans-big-light,'Helvetica Neue', Arial, sans-serif;
$fontHeading: pp-sans-big-thin, 'Helvetica Neue', Arial, sans-serif;
$fontMono: 'Ubuntu Mono', monospace;



$fsz: 1.6; // REM measure. 1.0rem = 10px; Change the root value of pixrem's postcss module on GruntFile.js to this value multiplied by 10.
$lh: $fsz; // Line Height


// Font Families

// Font size scales
$fontsizeSmallest:      12px; //16px;
$fontsizeSmaller:       14px; //24px;     // h1 mobile
$fontsizeSmall:         16px; //32px;     // small, accordion body text, carousel link, address link
$fontsize:              21px; //42px;     // p, label, accordion title, carousel subtitle
$fontsizeLarge:         25px; //50px;     // p.lead, carousel title
$fontsizeLarger:        32px; //62px;     // h2, address
$fontsizeLargest:       50px; //100px;    // h1

// Iconography

$iconsize: 18px;



// Depth

$depth-1: 100;
$depth-2: 200;
$depth-3: 300;


// Forms

$inputFocusColor: rgba($color2, 0.35); // Input focus

$inputBrdrWidth: 1px;
$inputBrdrColor: $cc;
$inputBrdrStyle: solid;


// Validation

$inputSuccessColorText: #008800; // Success text
$inputSuccessColorBorder: #44bb44; // Success border
$inputSuccessColorBg: #eeffee; // Success background

$inputWarningColorText: #dd8800; // Warning text
$inputWarningColorBorder: #ffaa22; // Warning border
$inputWarningColorBg: #aa5500; // Warning background

$inputFailureColorText: #dd0000; // Failure text
$inputFailureColorBorder: #ff7777; // Failure border
$inputFailureColorBg: #fff2f2; // Failure background




// Notification

$notifySuccessColorBg: #44bb44;
$notifyWarningColorBg: #DD8800;
$notifyFailureColorBg: #DD0000;




// Responsive Breakpoints

$scrDeskL: 1280px;
$scrDeskS: 960px;
$scrTablL: 768px;
$scrTablS: 600px;
$scrMoblL: 480px;
$scrMoblS: 320px;




// Animation

$animDuration: 0.25s;
$animEasing: cubic-bezier(0.45, 0, 0.5, 0.95);