/**
 * Form
 *
 * Form style overrides
 */

.form {
    
  @media screen and (min-width: $scrTablS) {
    max-width: 70%;
  }

  @media screen and (min-width: $scrDeskS) {
    max-width: 380px;
  }
}

.form-info {
  color: $colorWhite;
  font-family: $fontHeading;
  font-size: $fontsize;
  margin: 0 0 1em;
}

.form-input {
  border-radius: 7px;
  border-color: transparent;
  color: $colorGrey;
  font-size: $fontsize;
  margin: 0 0 26px;
  padding-left: 1.2em;
  position: relative;

  &::-webkit-input-placeholder {
    color: $colorGrey !important;

    &:after {
        content: "*";
        display: inline-block;
        color: $colorBlueLighter;
        margin-left: 3px;
        font-size: 12px;
        height: 10px;
        padding-top: 3px;
        vertical-align: top;
    }
  }

  &:-moz-placeholder {
    color: $colorGrey !important;

    &:after {
        content: "*";
        display: inline-block;
        color: $colorBlueLighter;
        margin-left: 3px;
        font-size: 12px;
        height: 10px;
        padding-top: 3px;
        vertical-align: top;
    }
  }

  &::-moz-placeholder {
    color: $colorGrey !important;

    &:after {
        content: "*";
        display: inline-block;
        color: $colorBlueLighter;
        margin-left: 3px;
        font-size: 12px;
        height: 10px;
        padding-top: 3px;
        vertical-align: top;
    }
  }

  &:-ms-input-placeholder {
    color: $colorGrey !important;

    &:after {
        content: "*";
        display: inline-block;
        color: $colorBlueLighter;
        margin-left: 3px;
        font-size: 12px;
        height: 10px;
        padding-top: 3px;
        vertical-align: top;
    }
  }
}

.form-buttonAdd {
  align-items: center;
  background: $colorBlueLighter;
  border-color: transparent;
  border-radius: 7px;
  color: $colorWhite;
  display: flex;
  font-family: $fontHeading;
  font-size: $fontsize;
  height: 75px;
  margin: 0 0 20px;
  padding: 0;
  transition: .1s ease-out;
  width: 100%;

  .button-icon {
    align-items: center;
    background-color: $colorWhite;
    border-radius: 5px;
    display: flex;
    height: 32px;
    margin-left: 1.2em;
    margin-right: 15px;
    width: 32px;
  }

  .icon-add {
    @include svgColor($colorBlueLighter);
    margin: auto;
  }

  &:hover {
    background: $colorBlueLight;

    .icon-add {
      @include svgColor($colorBlueLight);
    }
  }

  &.is-hidden {
    display: none;
  }

  // Firefox flex fix
  > span {
    display: inline-block;
    float: left;
  }
}

.form-submit {
  align-items: center;
  background: $colorWhite;
  border-color: transparent;
  border-radius: 7px;
  color: $colorBlueLighter;
  display: flex;
  font-family: $fontHeadingSmall;
  font-size: $fontsizeLarge;
  height: 60px;
  justify-content: center;
  padding: 0;
  text-align: center !important;
  transition: .1s ease-out;
  width: 100%;

  &:hover {
    background: $colorGreyLighter;
    color: $colorBlue;
  }

  span {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.controller.checkbox {
  margin-bottom: 3em;
  padding-left: 50px;
}

label.form-checkboxLabel {
  color: $colorWhite;
  font-family: $fontHeading;
  font-size: $fontsize;
  line-height: 1.1;
  position: relative;

  &:before, 
  &:after {
    background-color: $colorWhite; 
    border-color: $colorWhite;
    box-shadow: 0 0 0;
    border-radius: 7px;
    margin-left: -50px;
    position: relative;
  }
}

// Hide second checkbox (bug)
.controller.checkbox {
    
  > .form-checkboxLabel { 
    display: none;
  }

  .controller.checkbox {
    margin-bottom: 0;
    padding-left: 0;

    .form-checkboxLabel { 
      display: block;
    }

    input {
      visibility: hidden;
    }
  }
}


/* 
 * Additional participants
 */

.form-items {}

.form-item {
  border-bottom: 1px solid $colorWhite;
  margin-bottom: 20px;
}

.form-itemHeader {
  display: flex;
  justify-content: space-between;
  
  .is-new & {
      display: none;
  }
}

.form-itemTitle {
  font-family: $fontText;
  font-size: $fontsizeSmall;
  flex: 1;
}

.form-itemButtons {
  flex: 0 0 86px;
  display: flex;
  padding-top: 3px;

  a {
    cursor: pointer;
    display: flex;
    height: 40px;
    width: 40px;

    .icon {
        margin: 0 auto;
    }

    .icon-close {
        width: 30%;
    }
  }
}

.form-buttonSave {
  background: transparent;
  border-color: $colorWhite;
  border-radius: 7px;
  border: 2px solid white !important;
  color: $colorWhite;
  display: none;
  font-family: $fontHeading;
  font-size: $fontsize;
  font-size: 25px;
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
  width: 100%;

  .is-active & {
    display: block;
  }

  &.is-hidden {
    display: none;
  }

  &:hover {
    background: transparent;
    text-decoration: none;
  }
}

.form-fields {
  display: none;

  .is-new &,
  .is-active & {
    display: block;
  }
}


/* 
 * Styles for initial attendee form
 */
 
.form-fields--initial {}


/* 
 * Styles for additional attendee forms
 */

.form-fields--additional-attendee {
  background: $colorBlueLighter;
  border-radius: 7px;
  margin-bottom: 20px;
  padding: 25px 15px;

  .form-input {
    margin-bottom: 20px;
  }
}


/* 
 * Form successfully submitted element
 */

.form-successful {
  color: $colorWhite;
  text-align: center;

  h2, p {
    text-align: left;
  }
}

.icon-success {
  height: 160px;
  margin: 2em auto;
  opacity: 0.3;
  width: 160px;

  @media screen and (min-width: $scrTablS) {
    margin: 9em auto;
  }
}