/**
 * Hero
 *
 * Image banner at top of page
 */

.hero {
  background: $colorBlack url(../img/bg-hero.png) no-repeat top center;
  background-size: cover;
}

.hero-inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  min-height: 200px;
  text-align: center;
  width: 90%;
  
  // IE11 fix for centering content
  .no-flexboxlegacy & {
    display: block;
    padding-top: 200px;
    position: relative;
  }

  @media screen and (min-width: $scrTablS) {
    min-height: 400px;
  }

  @media screen and (min-width: $scrDeskS) {
    min-height: 500px;
  }
}

.hero-title {
  font-family: $fontHeadingSmall;
  font-size: $fontsizeLarge;
  line-height: 1;
  margin: 0;
  padding: 0;
    
  @media screen and (min-width: $scrTablS) {
    font-family: $fontHeading;
    font-size: $fontsizeLargest;
  }
}

.hero-subtitle {
  font-size: $fontsize;
  display: block;

  @media screen and (min-width: $scrDeskS) {
    font-size: $fontsizeLargest;
  }
 }