/**
 * Overlay
 *
 * Overlay overrides
 */

.overlay {
  background-color: rgba(0,0,0,0);
    
  &.active {}

  .modal {
    background: $colorBlue;
    box-shadow: 2px -2px 12px $c9;
    color: $colorWhite;
    
    .active & {}

    bottom: 2%;
    left: 2%;
    right: 2%;
    top: 2%;

    @media screen and (min-width: $scrTablS) {
      bottom: 35%;
      left: 20%;
      right: 20%;
      top: 25%;
    }

    @media screen and (min-width: $scrDeskS) {
      bottom: 35%;
      left: 30%;
      right: 30%;
      top: 25%;
    }
  }
}

.overlay-close { 
  display: none;
  opacity: 0;

  &:hover {
    background-color: $color2;
  }

  &:active {
    background-color: $color3;
  }

  .icon-close {
    @include svgColor($cf);
  }
}