/**
 * Section
 *
 * Main blocks of content
 */


.section {
  background: $colorWhite;
  text-align: center;

  p {
    font-size: $fontsizeSmaller;
    line-height: 1.4;
  }

  p.lead {
    font-size: $fontsizeSmall;
  }

  p small {
    font-size: $fontsizeSmallest;
    line-height: 1.2;
    display: inline-block;
    margin: 2em 0;
  }

  @media screen and (min-width: $scrTablS) {

    p {
      font-size: $fontsize;
    }

    p.lead {
      font-size: $fontsizeLarge;
    }

    p small {
      font-size: $fontsizeSmall;
    }
  }
}

.section-inner {
  margin: 0 auto;
  padding: 2em 1em;

  @media screen and (min-width: $scrTablS) {
    padding: 2em;
  }

  @media screen and (min-width: $scrDeskS) {
    max-width: 1160px;
    padding: 4em 2em;
  }
}


/* 
 * -content and -asides for columned section content
 */

.section-content {
  padding: 2em 1em;

  @media screen and (min-width: $scrTablS) {
    padding: 2em;
  }

  @media screen and (min-width: $scrDeskS) {
    flex: 0 0 59.9999%;
    padding: 2em 8em 4em 2em;
  }
}

.section-contentInner {
  
  @media screen and (min-width: $scrDeskS) {
    max-width: 580px;
    margin: 0 0 0 auto;
  }
}

.section-aside {
  padding: 2em 1em;

  @media screen and (min-width: $scrTablS) {
    padding: 2em;
  }
  
  @media screen and (min-width: $scrDeskS) {
    flex: 0 0 39.9999%;
    padding: 2em 2em 5em 4em;
  }
}

.section-title {
  color: $colorGrey;
  font-family: $fontHeadingSmall;
  font-size: $fontsizeLarge;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  padding: 0;

  @media screen and (min-width: $scrTablS) {
    font-size: $fontsizeLarger;
  }
}

.section-small {
  font-size: $fontsizeSmallest;
  display: inline-block;
  margin-top: 2px;
  vertical-align: text-top;
}


/**
 * Intro
 */

.section--intro {
  background: $colorGreyLightest;
  text-align: left;

  .section-title,
  .lead {
    color: $colorBlue;
  }

  .section-aside {
    background: $colorBlue;
    

    .section-title,
    .lead {
      color: $colorWhite !important;
    }
  }

  @media screen and (min-width: $scrDeskS) {
    display: flex;
    padding: 0;
    
    .section-aside {
      position: relative;

      &:after {
        border-top: 25px solid transparent; 
        border-right: 25px solid $colorBlue; 
        border-bottom: 25px solid transparent;
        content: "";
        display: block;
        height: 0; 
        left: -22px;
        position: absolute;
        top: 46%;
        width: 0; 
      }
    }
  }
  
  // IE 11 Layout fix
  .no-flexboxlegacy & {}
}


/**
 * Alt
 */

.section--alt {
  background: $colorGreyLightest;
}


/**
 * Map
 */

.section--map {
  background: $colorBlue;
  color: $colorWhite;
  font-size: $fontsizeLarge;
  line-height: 1.2;
  min-height: 200px;
  position: relative; 

  &:before {
    content: " ";
    background: url(../img/bg-map.png) no-repeat center center;
    background-size: cover;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;   
  }

  .section-inner {
    position: relative;
    z-index: $depth-1;
  }

  .icon-marker {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto .2em;
    @include svgColor($colorWhite);
  }

  a {
    color: $colorWhite;
    font-size: $fontsize;
    font-weight: bold;
    display: block;
    margin-top: 50px;
  }

  @media screen and (min-width: $scrDeskS) {
    font-size: $fontsizeLarger;
  }
}