/**
 * Third Party Overrides
 * 
 */


/* 
 * SlickJS Carousel 
 */

.slick-arrow {
  background: transparent url(../img/icons/icon-carousel-arrow.png) no-repeat center;
  background-size: 35%;
  box-shadow: 0 0 0;
  border-radius: 100%;
  border: 2px $colorBlue solid;
  color: transparent;
  opacity: 0;
  height: 75px;
  padding: 0;
  position: absolute;
  top: 45%;
  transition: .2s ease-out;
  width: 75px;
  z-index: $depth-2;
  display: none;

  .no-touch & {
    opacity: 1;
  } 

  @media screen and (min-width: $scrDeskS) {
    display: block;
  }
}

.slick-prev {
  left: -85px;
  transform: rotate(180deg);
}

.slick-next {
  right: -95px;
}

.slick-dots {
  align-items: center;
  display: flex !important;
  justify-content: center;
  list-style-type: none;
  margin: -1em 0 0 -1em;
  width: 100%;
  margin-top: .25em;

  li {
    padding: 1em 0 0 1em;

    button {
      background: $colorGreyLight;
      border-radius: 50%;
      border: 0 none;
      box-shadow: 0 0 0;
      color: transparent;
      display: block;
      height: 20px;
      line-height: 1;
      max-height: 20px;
      max-width: 20px;
      min-height: 20px;
      min-width: 20px;
      padding: 0;
      width: 20px;
      transition: .2s ease-out;
    }

    &.slick-active {
        
      button {
        background: $colorBlue;
        box-shadow: 0 0 0;
      }
    }
  }

  @media screen and (min-width: $scrTablS) {
    margin: 2em 0 0 -1em;
  }
}

.slick-initialized {
  
  .slick-slide {
    margin: 0;
  }
} 