<div class="section">
	<div class="section-inner">
		<h2 class="section-title">Key Agenda</h2>
		<p>Alongside practical discussion groups and networking time we have some exciting presenters</p>
		<div class="accordion" data-js="accordion">
			
            <div class="accordion-items">

                <div class="accordion-item is-active" data-js="accordionItem">
                    <div class="accordion-header" data-js="accordionTrigger">
                        <div class="accordion-headerInner">
                            <h3 class="accordion-headerTitle">
                                Capturing the mobile consumer revolution
                            </h3>
                            <p>
                                Andrea Bondi, Mobile Integration Lead, PayPal
                            </p>
                        </div>
                        <div class="accordion-itemButton">
                            <span class="button-icon">
                                <img class="svg icon" src="img/icons/icon-accordion-arrow.svg" width="16" height="16" onerror="this.onerror=null;this.src='img/icon-accordion-arrow.png'">
                            </span>
                        </div>
                    </div>
                    <div class="accordion-content" data-js="accordionContent">
                        <div class="accordion-contentInner">
                            <h3 class="accordion-contentTitle">
                                Overview
                            </h3>
                            <p>
                                Andrea and the mobile experts at PayPal will take you through demonstrations and practical tips on optimising your website for mobile customers.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item" data-js="accordionItem">
                    <div class="accordion-header" data-js="accordionTrigger">
                        <div class="accordion-headerInner">
                            <h3 class="accordion-headerTitle">
                                New ways of Selling: Social Media and how it has changed the landscape
                            </h3>
                            <p>
                                Joe Hopper, Senior Social Strategist, RAPP
                            </p>
                        </div>
                        <div class="accordion-itemButton">
                            <span class="button-icon">
                                <img class="svg icon" src="img/icons/icon-accordion-arrow.svg" width="16" height="16" onerror="this.onerror=null;this.src='img/icon-accordion-arrow.png'">
                            </span>
                        </div>
                    </div>
                    <div class="accordion-content" data-js="accordionContent">
                        <div class="accordion-contentInner">
                            <h3 class="accordion-contentTitle">
                                Overview
                            </h3>
                            <p>
                                Social Media platforms have matured and turned into powerful and precise advertising channels: great for big businesses with big budgets, but the smaller business owner can feel left behind. In this session RAPP will explore what opportunities are still worth exploring for those of us with minimal marketing budgets. We’ll take a look at whether communities still exist, what value they might have and what simple steps SMB owners can take to drive word-of-mouth through the variety of Social Media channels available to SMEs.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item" data-js="accordionItem">
                    <div class="accordion-header" data-js="accordionTrigger">
                        <div class="accordion-headerInner">
                            <h3 class="accordion-headerTitle">
                                Growing your business in the Global economy
                            </h3>
                            <p>
                                Mark Ellis, VP, Sales and Marketing, WebInterpret
                            </p>
                        </div>
                        <div class="accordion-itemButton">
                            <span class="button-icon">
                                <img class="svg icon" src="img/icons/icon-accordion-arrow.svg" width="16" height="16" onerror="this.onerror=null;this.src='img/icon-accordion-arrow.png'">
                            </span>
                        </div>
                    </div>
                    <div class="accordion-content" data-js="accordionContent">
                        <div class="accordion-contentInner">
                            <h3 class="accordion-contentTitle">
                                Overview
                            </h3>
                            <p>
                                Mark will share insights on the Global marketplace and cover key considerations and tips for quickly and effectively building your business to be able to capture the global consumer opportunity without distracting you from your core business.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>