<div class="footer">
    
    <div class="container no-pad">
        
        <footer role="contentinfo" class="global-footer">
            <div class="containerCentered containerExtend">
                <ul class="footer-main secondaryLink">
                    <li><a href="https://www.paypal.com/gb/webapps/helpcenter/helphub/home/">Help</a></li>
                    <li><a href="https://www.paypal.com/selfhelp/home">Contact</a></li>
                    <li><a href="https://www.live.qa.paypal.com/us/webapps/mpp/paypal-fees">Fees</a></li>
                    <li><a href="https://www.live.qa.paypal.com/us/webapps/mpp/paypal-safety-and-security">Security</a></li>
                    <li><a href="https://www.live.qa.paypal.com/us/webapps/mpp/mobile-apps">Apps</a></li>
                    <li><a href="https://www.live.qa.paypal.com/us/webapps/mpp/shopping-selection">Shop</a></li>

                    <li class="country-selector">
                        <a href="https://www.live.qa.paypal.com/us/webapps/mpp/country-worldwide" title="See all countries" class="country GB">See all countries</a>
                    </li>

                    <li class="footer-search">
                        <form method="post" action="https://www.live.qa.paypal.com/us/cgi-bin/webscr?cmd=_sitewide-search" class="search-form">
                            <button class="search-icon" title="Search" type="submit">Search</button>
                            <input type="search" name="queryString" placeholder="Search">
                        </form>
                    </li>
                </ul>

                <ul class="footer-secondary secondaryLink">
                    <li><a href="https://www.paypal-media.com/about" target="_blank">About</a></li>
                    <li><a href="http://www.thepaypalblog.com/" target="_blank">Blog</a></li>
                    <li><a href="http://jobs.ebaycareers.com/search/paypal-jobs" target="_blank">Jobs</a></li>
                    <li><a href="https://www.live.qa.paypal.com/us/webapps/mpp/full-sitemap">Sitemap</a></li>
                    <li><a href="http://www.ebay.com/" target="_blank">eBay</a></li>
                    <li><a href="https://developer.paypal.com/">Developers</a></li>
                    <li><a href="https://www.live.qa.paypal.com/us/webapps/mpp/enterprise-home">Enterprise</a></li>
                    <li><a href="https://www.paypal-marketing.com/emarketing/partner/global/home.page" target="_blank">Partners</a></li>
                    <li><a href="https://localhost.paypal.com:8443/us/webapps/mpp/templates/#">Feedback</a></li>
                </ul>
    

                <ul class="footer-tertiary secondaryLink">
                    <li id="footer-copyright">© 1999-2015</li>
                    <li id="footer-privacy"><a href="https://www.paypal.com/uk/webapps/mpp/ua/privacy-full">Privacy</a></li>
                    <li id="footer-legal"><a href="https://www.live.qa.paypal.com/us/webapps/mpp/ua/legalhub-full">Legal</a></li>
                </ul>
    
            </div>
        </footer>
        
    </div>  
</div>