        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script> 
		<!-- Minified JS - Includes all .js from scripts folder -->
       
    	<script async type="text/javascript" src="scripts/build.js"></script>        
    </body>
</html>