<form action="#" novalidate="" data-validation="true" class="form" data-js="attendeeForm">
	<h2 class="section-title">Register today</h2>

	<div class="form-info">
		*Fields are mandatory
	</div>
	
	<div class="form-items" data-js="formItems">
		
		<!-- Initial form item -->
		<div class="form-item is-new is-active">
			<div class="form-itemHeader">
				<h3 class="form-itemTitle" data-js="attendeeSummary">
					<span data-js="attendeeName">Full Name</span>
				</h3>
				<div class="form-itemButtons">
					<a class="form-itemButton form-itemButtonEdit icon icon-edit" title="Edit" data-js="editAttendee">
						<img class="svg icon icon-edit" src="img/icons/icon-edit.svg" width="16" height="16" onerror="this.onerror=null;this.src='img/icon-edit.png'" alt="Edit">
					</a>
					<a class="form-itemButton form-itemButtonDelete icon icon-delete" title="Delete" data-js="deleteAttendee">
						<img class="svg icon icon-close" src="img/icons/icon-close.svg" width="16" height="16" onerror="this.onerror=null;this.src='img/icon-close.png'" alt="Delete">
					</a>
				</div>
			</div>

			<div class="form-fields form-fields--initial" > 
				<input class="form-input form-input--firstName" type="text" name="firstname" placeholder="First Name" required="">

				<input class="form-input form-input--lastName" type="text" name="lastname" placeholder="Last Name" required="">
				
				<input class="form-input" type="text" name="email" placeholder="Email" required="">

				<input class="form-input" type="text" name="organisation" placeholder="Organisation" required="">

				<input class="form-input" type="text" name="phone" placeholder="Phone" required="">

				<div class="controller checkbox">
					<input id="f5" type="checkbox" name="check-accept" value="1" class="form-checkbox">
					<label for="f5" class="form-checkboxLabel">
						Request a one-to-one consultation with PayPal integration engineers
					</label>
				</div>
			</div>

			<a class="form-buttonSave" data-js="saveAttendee">
				<span>Save</span>
			</a> 
		</div>   

	</div>    

	<button class="button form-buttonAdd" type="submit" data-js="addAttendee">
		<span class="button-icon">
			<img class="svg icon icon-add" src="img/icons/icon-add.svg" width="16" height="16" onerror="this.onerror=null;this.src='img/icon-add.png'">
		</span>
		<span>Add another attendee</span>
	</button>

	<button class="form-submit" type="submit">
		<span>Submit</span>
	</button>
</form>

<!-- Attendee Form Template -->
<!--#include virtual="include/template-attendee-form.html" -->
