<div class="form-successful">
	<h2>Thank You!</h2>
	<p>
		Your registration has been submitted. We are looking forward to welcome you.
	</p>
    <img class="svg icon icon-success" src="img/icons/icon-success.svg" width="16" height="16" onerror="this.onerror=null;this.src='img/icon-success.png'" alt="Delete">
</div>