<h2 class="section-title">Overview:</h2>
<p class="lead">
	Boost your business with digital and mobile inspiration.
</p>
<p>The UK Business Forum will help you put key digital and mobile trends to work, showing you how to grow your business and brand online in 2016.</p>

<p>
	Join digital experts and industry peers for an afternoon of inspiration at PayPal’s offices in Richmond, London. There’ll be a mix of presentations, customer demonstrations, and breakout sessions, so you will have many opportunities to apply new ideas in your business.
</p>

<p>
	The event is free to attend, but places are limited, so register now to secure your place and request a one-to-one consultation with a PayPal Integration Engineer who will look at ways to help you optimise your website checkout.<span class="section-small">*</span>
</p>

<p><small><span class="section-small">*</span> One-to-one consultations will take place either in person on the day of the event or over the phone after the event.</small></p>