<div class="section section--map">
	<div class="section-inner">
		<a href="https://goo.gl/maps/7aNm3m96QFt" target="_blank">
			<img class="svg icon icon-marker" src="img/icons/icon-marker.svg" width="16" height="16" onerror="this.onerror=null;this.src='img/icon-marker.png'" alt="marker">
		</a>
		PayPal<br/>
		Whittaker House<br/>
		2 Whittaker Avenue<br/>
		Richmond, TW9 1EH
		
		<p>
			<a href="https://goo.gl/maps/7aNm3m96QFt"  target="_blank" title="Google Maps">
				Plan your travel
			</a>
		</p>
	</div>
</div>