<div class="overlay" id="joe">
	<div class="modal">
		<div class="overlay-close">
			<img class="svg icon icon-close" src="img/icons/icon-close.svg" width="16" height="16" onerror="this.onerror=null;this.src='img/icons/icon-close.png'" alt="Close">
		</div>

		<p>
            Joe is RAPP’s Senior Social Strategist and has spent the last five years managing and planning Social media strategies for the likes of Mercedes-Benz, ŠKODA, Pernod-Ricard, Vodafone, and Virgin Media. He’s had his sleeves rolled up and his hands in the engine as Social platforms have evolved and monetised their offerings. His mission is to create meaningful connections between brands and people who value those connections
        </p>
	</div>
</div>

<div class="overlay" id="andrea">
    <div class="modal">
        <div class="overlay-close">
            <img class="svg icon icon-close" src="img/icons/icon-close.svg" width="16" height="16" onerror="this.onerror=null;this.src='img/icons/icon-close.png'" alt="Close">
        </div>

        <p>
            Andrea is PayPal’s Mobile Solutions Consultant and has extensive experience and knowledge of the mobile world and trends. As mobile technology has evolved he has worked with over 40 of the top 5 grossing apps including Groupon, EA, AudioBoom and Hotel Tonight, to build effective and impactful mobile apps and websites. He is now dedicated to helping PayPal customers understand and optimise the increasing opportunities offered by the mobile market. 
        </p>
    </div>
</div>

<div class="overlay" id="mark">
    <div class="modal">
        <div class="overlay-close">
            <img class="svg icon icon-close" src="img/icons/icon-close.svg" width="16" height="16" onerror="this.onerror=null;this.src='img/icons/icon-close.png'" alt="Close">
        </div>

        <p>
            Mark has worked in eCommerce for the past twenty years initially as a developer building Dyson's first eCommerce web shop. Since then he has focused on the delivery of new projects working for multiple companies as a freelance consultant, including retailers such as Arcadia and Molton Brown and for suppliers, delivering projects for the likes of ASDA, Boots, Dunnhumby and eBay. His last 8 years has been focused on International eCommerce and Cross Border Trade and he's working hard to make this accessible for all retailers.
        </p>
    </div>
</div>