<div class="section section--alt">
	<div class="section-inner">
		<h2 class="section-title">Speakers</h2>
		<div class="carousel">
			<div class="carousel-items" data-js="carousel">
				<div class="carousel-item">
					<div class="carousel-itemMedia">
						<div class="FlexEmbed">
						  <div class="FlexEmbed-ratio FlexEmbed-ratio--5by4"></div>
						  <div class="FlexEmbed-content">
							<img src="img/speaker-andrea.jpg" alt="Andrea Bondi" />
						  </div>
						</div>
					</div>
					<div class="carousel-itemContent">
						<h3 class="carousel-itemTitle">
							Andrea Bondi
						</h3>
						<div class="carousel-itemSubtitle">Mobile Integration Lead, Paypal</div>
						<a href="#" class="carousel-itemLink" data-overlay="andrea">
							Andrea&rsquo;s story
						</a>
					</div>
				</div>
				<div class="carousel-item">
					<div class="carousel-itemMedia">
						<div class="FlexEmbed">
							<div class="FlexEmbed-ratio FlexEmbed-ratio--5by4"></div>
							<div class="FlexEmbed-content">
								<img src="img/speaker-joe.jpg" alt="Joe Hopper" />
							</div>
						</div>
					</div>
					<div class="carousel-itemContent">
						<h3 class="carousel-itemTitle">
							Joe Hopper
						</h3>
						<div class="carousel-itemSubtitle">Senior Social Strategist, RAPP</div>
						<a href="#" class="carousel-itemLink" data-overlay="joe">
							Joe&rsquo;s story
						</a>
					</div>
				</div>
				<div class="carousel-item">
					<div class="carousel-itemMedia">
						<div class="FlexEmbed">
							<div class="FlexEmbed-ratio FlexEmbed-ratio--5by4"></div>
							<div class="FlexEmbed-content">
								<img src="img/speaker-mark.jpg" alt="Mark Brant" />
							</div>
						</div>
					</div>
					<div class="carousel-itemContent">
						<h3 class="carousel-itemTitle">
							Mark Brant
						</h3>
						<div class="carousel-itemSubtitle">General Manager, Merchant Services, Paypal</div>
						<a href="#" class="carousel-itemLink" data-overlay="mark">
							Mark&rsquo;s story
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>