<script type="text/html" id="attendeeFormTemplate">

	<div class="form-itemHeader">
		<h3 class="form-itemTitle" data-js="attendeeSummary">
		</h3>
		<div class="form-itemButtons">
			<a class="form-itemButton form-itemButtonEdit icon icon-edit" title="Edit" data-js="editAttendee">
				<img class="svg icon icon-edit" src="img/icons/icon-edit.svg" width="16" height="16" onerror="this.onerror=null;this.src='img/icon-edit.png'" alt="Edit">
			</a>
			<a class="form-itemButton form-itemButtonDelete icon icon-delete" title="Delete" data-js="deleteAttendee">
				<img class="svg icon icon-close" src="img/icons/icon-close.svg" width="16" height="16" onerror="this.onerror=null;this.src='img/icon-close.png'" alt="Delete">
			</a>
		</div>
	</div>

	<div class="form-fields form-fields--additional-attendee is-active">
		<input class="form-input form-input--firstName" type="text" name="text" placeholder="First Name" required="">

		<input class="form-input form-input--lastName" type="text" name="text" placeholder="Last Name" required="">
		
		<input class="form-input" type="text" name="text" placeholder="Email" required="">

		<input class="form-input" type="text" name="organisation" placeholder="Organisation" required="">

		<input class="form-input" type="text" name="text" placeholder="Phone" required="">

		<div class="controller checkbox">
			<input id="f5" type="checkbox" name="check-accept" value="1" class="form-checkbox">
			<label for="f5" class="form-checkboxLabel">
				Request a one-to-one consultation with PayPal integration engineers
			</label>
		</div>
	</div>
 
</script>