// Autocomplete

.autocomplete-wrapper {
	display: block;
	position: relative;
	color: $c2;
	margin: 0;
	margin-top: 2px;
	margin-bottom: floor($spc / 2);
	padding: 0;
	width: 100%;
	font-family: $fontText;
	font-size: $fsz + rem;
	text-align: left;
	vertical-align: top;
	cursor: pointer;
	user-select: none;
	background-clip: padding-box;
	outline: 0;

	$loaderDiameter: 21px;

	input {
		padding-right: (floor($spc / 1.5) * 2) + $loaderDiameter;
	}

	.loader {
		display: none;
		position: absolute;
		width: $loaderDiameter;
		height: $loaderDiameter;
		top: (47 / 2)  - ($loaderDiameter / 2);
		right: floor($spc / 1.5);
		z-index: 10;
	}

	.autocomplete-list {
		display: block;
		position: absolute;
		margin: 0;
		padding: 0;
		top: 100%;
		left: 1%;
		right: 1%;
		list-style: none;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
		overflow: auto;
		overflow-x: hidden;
		visibility: hidden;
		z-index: -1;
		opacity: 0;
		transform: translateY(-10px);
		transition-property: opacity, transform;
		transition-duration: $animDuration;
		transition-timing-function: $animEasing;

		&.active {
			opacity: 1;
			transform: translateY(0);
			visibility: visible;
			z-index: 9999;
		}
	}

	ul {
		display: block;
		position: relative;
		margin: 0;
		padding: 0;
		list-style: none;

		&.no-results {
			li {
				display: block !important;
				cursor: default;

				&:hover,
				&:active,
				&.active {
					color: inherit !important;
					background: $cf !important;

					* {
						color: inherit !important;
					}
				}
			}
		}

		li:not(.divider) {
			display: none;
			position: relative;
			margin: 0;
			padding: floor($spc / 2) floor($spc / 1.25);
			border-bottom: 1px solid $ce;
			background: $cf;

			&:hover {
				color: $cf;
				background: $color1;

				* {
					color: $cf !important;
				}
			}

			&:active,
			&.active {
				color: $cf;
				background: $color2;

				* {
					color: $cf !important;
				}
			}

			&.selected {
				display: block;
				cursor: pointer;
			}

			> * {
				display: block;
				width: 100%;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
		}
	}

	.divider {
		display: block;
		position: relative;
		margin: 0;
		padding: floor($spc / 2) floor($spc / 1.25);
		color: $colorText !important;
		font-weight: bold;
		background-color: $ce;
		border-top: 1px solid $ce;
		cursor: default;
	}
}