// Brochure



.brochure-counter {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	top: -5px;
	right: -5px;
	font-size: $fsz / 1.2 + rem;
	font-weight: 600;
	background-color: $color2;
	border-radius: 1000px;
}

.brochure-wrapper {
	display: block;
	position: absolute;
	margin: 0;
	padding: $spc $spc floor($spc / 2);
	width: 240px;
	right: 0;
	bottom: 125%;
	text-align: left;
	border: 1px solid $ce;
	border-radius: $rds;
	background-color: $cf;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
	cursor: default;
	z-index: 80;
	opacity: 0;
	transform: scale(0);
	transform-origin: right bottom;
	transition: all $animDuration $animEasing;

	&.active {
		opacity: 1;
		transform: scale(1);
	}

	.brochure-title {
		padding: 0;
		line-height: 1;
	}

	.brochure-item-wrapper {
		display: block;
		position: relative;
		margin: $spc (-$spc) floor($spc / 2);
		padding: floor($spc / 2);
		max-height: 230px;
		background-color: $ce;
		overflow: auto;

		.brochure-item {
			display: block;
			position: relative;
			margin: 5px 0;
			padding: floor($spc / 2);
			padding-right: $spc + $iconsize;
			color: $cf;
			border-radius: $rds;
			background-color: $color1;
			cursor: pointer;

			@extend .valign-middle;

			&:hover {
				background-color: $color2;
			}
			&:active {
				background-color: $color1;
			}

			.icon-close {
				display: block;
				position: absolute;
				margin-top: -9px;
				top: 50%;
				right: floor($spc / 2);
				@include svgColor($cf);
			}
		}
	}

	.brochure-links {
		display: block;
		position: relative;
		color: $c2;

		.brochure-cta {
			display: block;
			position: relative;
			padding: 5px 0;
			cursor: pointer;

			@extend .valign-middle;

			&:hover span {
				text-decoration: underline;
			}

			.icon {
				margin-right: 10px;
				width: 16px;
				height: 16px;
				@include svgColor($color1);
			}
		}
	}
}