// Map

.map-wrapper {
	display: block;
	position: relative;
	width: 100%;
	padding-bottom: 62.5%;

	a {
		margin-left: 0;
		padding-left: 0;
		background: none;
	}

	// img {
	// 	display: block !important;
	// 	position: relative !important;
	// 	clear: both !important;
	// 	min-width: 0 !important;
	// 	min-height: 0 !important;
	// 	max-width: inherit !important;
	// 	max-height: inherit !important;
	// 	width: auto !important;
	// 	height: auto !important;
	// }

	.map-canvas {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		&.map-mobile {
			img {
				max-width: 100% !important;
				max-height: 100% !important;
			}
		}
	}
}


.gm-style-iw {
	h4,
	p {
		margin: 0;
		padding: 0;
	}

	a {
		display: block;
		color: #4272db;
	}
}

.gm-info {
	padding: 5px;
	width: 280px;
	color: #000;
	background-color: #fff;
}

.gm-wsv {
	display: block;
}