// Notification

.notification-wrapper {
	display: block;
	position: absolute;
	margin: floor($spc / 2);
	width: 300px;
	top: 100%;
	right: 0;
	z-index: 140;
}

.notification {
	display: block;
	position: relative;
	margin: 0 0 5px 0;
	padding: $spc floor(($spc * 1.5) + 20) $spc $spc;
	width: 100%;
	top: 0;
	right: 0;
	color: $cf;
	border-radius: $rds;
	background: $color1;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
	opacity: 0;
	cursor: pointer;
	overflow: hidden;
	z-index: 1000;

	transform: translateX(40%);

	transition: {
		property: transform, top, opacity;
		duration: $animDuration;
		timing-function: $animEasing;
	}

	&:hover {
		background: $color2 !important;
	}

	&.active {
		opacity: 1;
		transform: translateX(0);
		z-index: 900;
	}

	&.success {
		background: $notifySuccessColorBg;
	}
	&.warning {
		background: $notifyWarningColorBg;
	}
	&.failure {
		background: $notifyFailureColorBg;
	}

	&.cookie {
		position: fixed;
		margin: 0;
		top: auto;
		right: floor($spc / 2);
		bottom: floor($spc / 2);
		left: auto;
		width: 300px;
		transform: translateX(0) translateY(40%);

		&.active {
			opacity: 1;
			transform: translateX(0) translateY(0);
			z-index: 900;
		}
	}


	a {
		color: $cf !important;
		text-decoration: underline !important;
	}

	.notification-close {
		display: block;
		position: absolute;
		margin: 0;
		margin-top: -10px;
		width: 20px;
		height: 20px;
		top: 50%;
		right: $spc;
		border: 0 !important;

		.icon {
			width: 100%;
			height: 100%;
		}
	}
}