.overlay {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	max-height: 0;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	overflow: hidden;
	z-index: 900;
	transition: all 0.5s $animEasing;
	transform: translate3d(0, 0, 0);

	&.active {
		max-height: 100%;

		.modal {
			opacity: 1;
			transform: translateY(0);
		}
	}

	.modal {
		display: block;
		position: absolute;
		margin: 0;
		padding: $spc;
		top: 10%;
		right: 10%;
		bottom: 10%;
		left: 10%;
		border-radius: $rds;
		background: $cf;
		opacity: 0;
		transform: translateY(-10%);
		z-index: 9100;
		transition: all 0.5s $animEasing;
		transform: translate3d(0, 0, 0);

		.overlay-close {
			display: block;
			position: absolute;
			padding: floor($spc / 2);
			width: 38px;
			height: 38px;
			top: -19px;
			right: -19px;
			border-radius: 1000px;
			background-color: $color1;
			box-shadow: 0 0 15px (rgba(0, 0, 0, 0.35));
			cursor: pointer;
			z-index: 10;

			&:hover {
				background-color: $color2;
			}
			&:active {
				background-color: $color3;
			}

			.icon-close {
				@include svgColor($cf);
			}
		}
	}
}
