// Main Container

.slider {
	display: block;
	position: relative;
	margin: 0 auto;
	margin-bottom: floor($spc * 2);
	padding: 0;
	width: 100%;


	.slider-container {
		display: block;
		position: relative;
		width: 100%;
		overflow: hidden;

		&:hover {
			.slider-arrow {
				opacity: 1;

				&:hover {
					background-color: rgba($color2, 0.75);
				}
				&:active {
					background-color: rgba($c2, 0.75);
				}

				&.slider-arrow-prev {
					margin-left: 0;
				}
				&.slider-arrow-next {
					margin-right: 0;
				}
			}
		}
	}

	.slider-movable {
		display: block;
		position: relative;
		margin: 0;
		left: 0;
		width: 100%;
		white-space: nowrap !important;
		overflow: visible !important;
		cursor: -webkit-grab;

		@extend .valign-middle;

		.slide {
			position: relative;
		}
	}

	.slide {
		display: inline-block;
		position: absolute;
		margin: 0;
		padding: 0;
		width: 100%;
		top: 0;
		left: 0;
		background-color: $ce;
		vertical-align: top;
		overflow: hidden;
		white-space: normal;
		visibility: hidden;

		&:first-child {
			position: relative;
			visibility: visible;
		}

		> img {
			display: block;
			position: relative;
			width: 100%;
			height: auto;
			top: 0;
		}

		&.thumb {
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;

			&:after {
				display: block;
				position: relative;
				width: 100%;
				padding-bottom: 52.5%;
				content: "";
			}
		}
	}



	// Arrow Navigation

	$arrowDiameter: 56px;

	.slider-arrow {
		display: none;
		position: absolute;
		padding: 0;
		width: $arrowDiameter;
		top: 0;
		bottom: 0;
		text-align: center;
		cursor: pointer;
		z-index: 50;
		background-color: rgba($color1, 0.75);
		opacity: 0;
		vertical-align: middle;
		user-select: none;
		transition: {
			property: margin background opacity;
			duration: $animDuration / 3;
			timing-function: $animEasing;
		}

		&.slider-arrow-prev {
			float: left;
			margin-left: -5%;
			left: 0;
		}
		&.slider-arrow-next {
			float: right;
			margin-right: -5%;
			right: 0;
		}

		.icon {
			width: 22px;
			height: 22px;
			@include svgColor($cf);
		}
	}




	// Bullet Navigation (if navContainer is not defined)

	$bulletDiameter: 16px;

	.slider-nav {
		display: block;
		position: relative;
		margin: 0.5% -0.5% 0;
		padding: 0;
		text-align: center;
		font-size: 0;
		cursor: default;

		.slider-bullet {
			display: inline-block;
			position: relative;
			margin: floor($spc / 1.5) floor($spc / 2.5);
			width: $bulletDiameter;
			height: $bulletDiameter;
			background-color: $color2;
			border-radius: $bulletDiameter;
			opacity: 0.5;
			user-select: none;
			cursor: pointer;
			transition: {
				property: transform opacity;
				duration: 0.1s;
				timing-function: $animEasing;
			}

			&:hover {
				opacity: 1;
			}

			&:active,
			&.active,
			&:focus {
				background-color: $color1;
				opacity: 1;
			}
		}

		&.thumbs {
			text-align: left;

			.slider-bullet {
				margin: 0.5%;
				padding-bottom: 5.25%;
				width: 5.25%;
				height: auto;
				border-radius: $rds;
				background-size: cover !important;

				&:hover {
					// transform: scale(1.1);
					z-index: 10;
				}
			}
		}
	}
}