.tagcloud {
	display: none;
	position: relative;
	margin: 0;
	margin-bottom: floor($spc / 2);
	padding: floor($spc / 4) floor($spc / 4);
	width: 100%;
	color: $c8;
	text-align: left;
	border: 1px dashed $cd;
	border-radius: $rds;
	background: $ce;
	list-style: none;
	overflow: hidden;

	&.active {
		display: block;
	}

	.tag {
		display: inline-block;
		position: relative;
		margin: 2px;
		padding: 4px 8px;
		padding-right: 28px;
		color: $cf;
		font-size: $fsz / 1.1 + rem;
		border-radius: $rds;
		background: $color1;
		cursor: pointer !important;
		white-space: nowrap;

		&:hover {
			background-color: $color2;
		}
		&:active {
			background-color: $color3;
		}

		.icon {
			display: block;
			position: absolute;
			width: 12px;
			height: 12px;
			top: 11px;
			right: 8px;
			@include svgColor($cf);
		}

		@for $i from 0 through 4 {
			&[data-tag-group="#{$i}"] {
				// background-color: darken($color1, percentage($i / 10));
				// background-color: lighten($color1, percentage($i / 10));
				background-color: adjust-hue($color1, -($i * 45));
			}
		}
	}
}