// Tooltip

$animBounce: cubic-bezier(.15,.7,.6,1.7);

.tooltip {
	display: block;
	position: absolute;
	padding: 3px 7px;
	max-width: 200px;
	color: $cf;
	font-size: $fsz / 1.2 + rem;
	font-weight: normal;
	border: 0;
	border-radius: $rds;
	background: $color1;
	z-index: 9999;

	opacity: 0;
	transform: scale(0.6);
	transition-property: opacity, transform;
	transition-duration: $animDuration / 2;
	transition-timing-function: $animBounce;

	&.active {
		opacity: 1;
		transform: scale(1);
	}

	img {
		margin: 4px 0;
	}
}

*[data-tooltip] {
	cursor: help;
}