// Twitter Timeline

[data-twitter] {
	display: block;
	position: relative;
	margin: 0;
	@extend .framed;

	.user {
		position: relative;
		margin-bottom: $spc;
		padding: 0;
		font-size: 0;

		a {
			display: block;
			position: relative;
			width: 100%;
			color: $colorText;
			text-align: left;
			text-decoration: none;
			overflow: hidden;
			white-space: nowrap;

			img {
				display: block;
				margin-right: 10px;
				float: left;
				width: 52px;
				height: 52px;
				border: 1px solid $cd;
			}

			span {
				&[data-scribe="element:name"] {
					display: block;
					position: relative;
					margin: 0;
					margin-right: 10px;
					font-size: $fsz * 1.25 + rem;
				}
				&[data-scribe="element:screen_name"] {
					display: block;
					position: relative;
					margin-top: -4px;
					color: $c8;
					font-size: $fsz / 1.2 + rem;
				}
			}
		}
	}

	.twitter-follow {
		display: none;
	}

	&.twitter-main {
		.user {
			display: none;
		}

		.twitter-user .user {
			display: block;
		}

		.twitter-follow {
			position: absolute;
			margin: 0;
			top: floor($spc / 1.5);
			right: floor($spc / 1.5);
		}
	}


	hr {
		display: block;
		position: relative;
		margin: floor($spc / 2) 0;
		width: 100%;
		height: 0;
		border-bottom: 1px dashed $c8;
		background: none;

		&:first-child {
			display: none;
		}
	}

	p {
		margin: 5px 0;
		padding: 0;
	}

	.tweet {
		color: $colorText;
	}
	.timePosted {
		color: #aaa;
		font-size: $fsz / 1.2 + rem;
	}
}