.lt-ie8 {

	* {
		behavior: url(styles/core/vendor/boxsizing.htc);
	}

	.column {
		float: left;
	}

}



.lt-ie9 {

	.mobile-show {
		display: none !important;
	}


	a[target="_blank"] {
		padding-left: 0;
		background-image: none;
	}


	// Forms

	fieldset {
		legend {
			margin-bottom: floor($spc / 2);
		}
	}

	input,
	select,
	textarea {
		padding: 10px 12px 14px;
	}
	input[type="radio"],
	input[type="checkbox"] {
		display: block;
		position: relative;
		margin-right: 5px;
		padding: 0;
		top: 1px;
		left: 0;
	}

	.controller {
		input {
			display: inline-block;
		}

		label {
			&:before {
				display: none;
			}

			> * {
				display: none !important;
			}
		}
	}


	// Tables

	table {
		border-collapse: collapse;
	}


	// Search

	.search-results {
		.search-item {
			.img {
				background-size: 100% 100%;
				-ms-behavior: url("scripts/core/vendor/backgroundsize.htc");
			}
		}
	}


	// Widgets

	.notification {
		display: none;

		&.active {
			display: block;
		}
	}

	.brochure {
		display: none;

		&.active {
			display: block;
		}
	}

	.overlay {
		background: transparent url("../img/pixel-black.png") repeat left top;
	}

	.slider-arrow {
		background: transparent url('../img/pixel-white.png') repeat left top;
	}


	// Maps

	.map-wrapper {
		height: 600px;
	}

}



@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

	/* IE10+ specific styles go here */

	input,
	select,
	textarea {
		padding: 11px 12px;
		line-height: 1 !important;
	}

	.controller {
		&.radio {
			input[type="radio"] {
				&:checked + label:before {
					content: "\25cf";
					font-size: 24px;
					line-height: 19px !important;
				}
			}
		}
	}

}