form {
	display: block;
	position: relative;

	.column {
		vertical-align: bottom !important;
	}
}



// Form Elements

fieldset {
	display: block;
	position: relative;
	margin: $spc 0;
	padding: floor($spc / 1.5) $spc;
	border: 1px solid $cd;
	border-radius: $rds;
	box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.05);

	legend {
		display: block;
		position: relative;
		margin: 0;
		margin-left: -3px;
		padding: 0 7px;
		top: -1px;
		color: $c8;
		font-size: $fsz / 1.1 + rem;
		background: $cf;
	}
}


label {
	display: block;
	position: relative;
	margin: 0 3px;
	padding: 10px 0 3px;
	color: $c8;
	font-family: $fontText;
	font-size: $fsz / 1.1 + rem;

	&.control {
		display: inline-block;
		margin-top: 0;
		padding: 0;
	}
}


input,
select,
textarea {
	display: block;
	position: relative;
	color: $c3;
	margin: 0;
	margin-bottom: floor($spc / 2);
	padding: floor($spc / 2) floor($spc / 1.5);
	width: 100%;
	font-family: $fontText;
	font-size: $fsz + rem;
	font-weight: 300;
	text-align: left;
	border: 1px solid $cc;
	border-radius: $rds;
	background: #fafafa;
	background-clip: padding-box;
	outline: 0;
	vertical-align: bottom;


	&::-webkit-input-placeholder {
		color: $c3;
	}
	&::-moz-placeholder {
		color: $c3;
	}
	&:-moz-placeholder {
		color: $c3;
	}
	&:-ms-input-placeholder {
		color: $c3;
	}
	&.placeholder-text,
	&.placeholder_text {
		color: $c3;
	}


	&:focus {
		// border-color: $inputFocusColor !important;
		box-shadow: 0 0 10px $inputFocusColor !important;
	}
	&:invalid {
		box-shadow: none;
	}


	&[type="hidden"],
	&[type="search"]::-webkit-search-decoration { // UI Consistency
		display: none;
	}

	&[type="date"],
	&[type="datetime"],
	&[type="datetime-local"],
	&[type="email"],
	&[type="month"],
	&[type="number"],
	&[type="password"],
	&[type="search"],
	&[type="tel"],
	&[type="text"],
	&[type="time"],
	&[type="url"],
	&[type="week"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
}

textarea {
	min-height: 150px;
	overflow: auto;
	resize: vertical;
}


.button,
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
	display: inline-block;
	position: relative;
	margin: 2px auto;
	padding: floor($spc / 2) floor($spc / 1.5);
	min-width: 42px;
	color: $colorText;
	font-family: $fontText;
	font-size: $fsz + rem;
	text-align: center;
	text-decoration: none !important;
	border: 0;
	border-radius: $rds;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
	background: $ce;
	cursor: pointer !important;
	appearance: none;
	background-clip: padding-box;
	user-select: none;
	white-space: nowrap;
	outline: 0;
	vertical-align: middle;

	&:hover {
		background-color: $cd;
	}
	&:active,
	&:visited {
		background-color: $ce;
	}
	&:focus {
		// border-color: $inputFocusColor !important;
		box-shadow: 0 0 10px $inputFocusColor !important;
	}


	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	&:invalid {
		box-shadow: none;
	}


	&.primary {
		color: $cf;
		background-color: $color1;

		&:hover {
			background-color: $color2;
		}
		&:active,
		&:visited {
			background-color: $color1;
		}
	}

	&.secondary {
		color: $cf;
		background-color: $color2;

		&:hover {
			background-color: $color1;
		}
		&:active,
		&:visited {
			background-color: $color2;
		}
	}

	&.tertiary {
		color: $cf;
		background-color: $color3;

		&:hover {
			background-color: $color2;
		}
		&:active,
		&:visited {
			background-color: $color3;
		}
	}
}

button {
	*padding-top: 1px; // IE7
	*padding-bottom: 1px;
}


input[type="radio"],
input[type="checkbox"] {
	display: inline-block;
	position: absolute;
	margin: 0;
	padding: 0;
	width: 16px !important;
	height: 16px !important;
	top: 9px;
	left: 7px;
	border: 0;
	background: transparent;
	vertical-align: middle;
}


.controller {
	display: block;
	position: relative;
	margin: 0;
	margin-top: 2px;
	text-align: left;

	&:active {
		label {
			&:before {
				box-shadow: inset 0px -3px 3px 0 rgba(255, 255, 255, 0.5), inset 0px 1px 1px 0 rgba(0, 0, 0, 0.3) !important;
			}
		}
	}

	> * {
		display: inline-block;
		vertical-align: middle !important;
	}

	label {
		display: inline-block;
		position: relative;
		margin: 4px 0;
		padding: 0;
		cursor: pointer;
		user-select: none;

		&:before,
		&:after {
			display: inline-block;
			position: relative;
			content: "";
			margin: 0;
			margin-right: 10px;
			padding: 0;
			width: 32px;
			height: 32px;
			top: -2px;
			text-align: center;
			line-height: 1.9 !important;
			border: 1px solid $ca;
			border-radius: 3px;
			background-color: $ce;
			box-shadow: inset 0px 3px 3px 0 rgba(255, 255, 255, 0.7), inset 0px -1px 1px 0 rgba(0, 0, 0, 0.15);
			overflow: hidden;
			vertical-align: middle;
		}
		&:after {
			display: none;
			float: right;
			margin-left: 10px;
			margin-right: 0;
		}
	}

	&.checkbox {
		label {
			&:before,
			&:after {
				border-radius: $rds;
			}
		}

		input[type="checkbox"] {
			&:checked {
				+ label:before,
				+ label:after {
					font-size: $fsz * 1.09 + rem;
					content: url('../img/icons/icon-control-checkbox.png');
				}
			}
		}
	}

	&.radio {
		label {
			&:before {
				border-radius: 1000px;
			}
		}

		input[type="radio"] {
			&:checked {
				+ label:before,
				+ label:after {
					font-size: $fsz * 1.09 + rem;
					content: url('../img/icons/icon-control-radio.png');
				}
			}
		}
	}

	&.toggle {
		$tglW: 60px;
		$tglH: 30px;
		$swtSz: $tglH + 2;

		input:not(:checked) + label {
			.toggle-body {
				.toggle-switch {
					left: ($tglW - $swtSz) + 1;
				}

				.toggle-background {
					right: -($tglW - ($swtSz / 2));

					&.toggle-background-negative {
						right: auto;
						left: -10px;
					}
				}
			}
		}

		label {
			&:active {
				.toggle-switch {
					box-shadow: inset 0px -3px 3px 0 rgba(255, 255, 255, 0.5), inset 0px 1px 1px 0 rgba(0, 0, 0, 0.3) !important;
					// transform: scale(.95);
				}
			}

			&:before,
			&:after {
				display: none;
			}


			.toggle-body {
				display: inline-block;
				position: relative;
				margin-right: 8px;
				width: $tglW;
				height: $tglH;
				top: -2px;
				border-radius: 1000px;
				background: $cf;
				vertical-align: middle;
			}

			.toggle-switch {
				display: inline-block;
				position: absolute;
				margin: 0;
				padding: 0;
				width: $swtSz;
				height: $swtSz;
				top: -1px;
				left: -1px;
				border: 1px solid $ca;
				border-radius: 1000px;
				background-color: $ce;
				box-shadow: inset 0px 3px 3px 0 rgba(255, 255, 255, 0.7), inset 0px -1px 1px 0 rgba(0, 0, 0, 0.15);
				z-index: 1;
				overflow: hidden;
				vertical-align: middle;
				transition: left $animEasing $animDuration;
			}

			.toggle-track {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				border-radius: 1000px;
				box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.25) !important;
				overflow: hidden;
			}

			.toggle-background {
				position: absolute;
				width: $tglW - ($swtSz / 2) + 10;
				top: 0;
				right: -10px;
				bottom: 0;
				background: $notifySuccessColorBg url('../img/icons/icon-toggle-tick.png') center center no-repeat;
				transition: left $animEasing $animDuration, right $animEasing $animDuration;
			}
			.toggle-background-negative {
				left: -($tglW - ($swtSz / 2));
				right: auto;
				background: $notifyFailureColorBg url('../img/icons/icon-toggle-close.png') center center no-repeat;
			}
		}
	}
}


select[size],
select[multiple] {
	padding: 0;
	height: auto;

	option {
		padding: floor($spc / 2) floor($spc / 1.5);
	}
}

select[size="0"],
select[size="1"] {
	padding: floor($spc / 2) floor($spc / 1.5);
	height: auto;

	option {
		padding: 0 15px;
	}
}


optgroup {
	color: black;
	font-style: normal;
	font-weight: normal;

	&::-moz-focus-inner { // Kill phantom spacing and dotted border that appears in Firefox.
		border: 0;
		padding: 0;
	}
}



// Custom Elements

.input-group {
	display: block;
	position: relative;
	margin-bottom: floor($spc / 2);
	font-size: 0;

	> * {
		font-size: $fsz + rem;
	}

	.password-wrapper {
		display: inline-block;
		margin: 0;
		width: 45%;
		border-top-left-radius: $rds;
		border-bottom-left-radius: $rds;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;

		input {
			width: 100%;
		}
	}

	label {
		font-size: $fsz / 1.1 + rem;
	}

	input {
		display: inline-block;
		margin: 0;
		width: 45%;
		border-top-left-radius: $rds;
		border-bottom-left-radius: $rds;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;

		&[data-validation="match"] {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-top-right-radius: $rds;
			border-bottom-right-radius: $rds;
		}
	}

	.input-addon {
		display: inline-block;
		margin: 0;
		padding: floor($spc / 2) floor($spc / 1.5);
		width: 10%;
		color: $c8;
		font-family: $fontText;
		font-size: $fsz + rem;
		text-align: center;
		border: 1px solid $cc;
		border-left: 0;
		border-right: 0;
		background: $ce;
	}
}


// Info

.form-info {
	margin-bottom: floor($spc / 2);
	color: $c2;
	font-size: $fsz / 1.1 + rem;
}

.indicator-required {
	display: inline-block;
	position: relative;
	margin: 0 6px;
	padding: 0;
	width: 4px;
	height: 4px;
	top: -2px;
	border-radius: 100px;
	background: #e44;
	vertical-align: middle;
}


// Loader

.form-loader,
.icon.form-done {
	display: none;
	position: relative;
	margin: 2px 5px;
	padding: 5px;
	width: 42px;
	height: 42px;
	@include svgColor($color1);
	vertical-align: middle;
}


// Credit Cards

.card-wrapper {
	margin: $spc 0;
	padding: floor($spc / 1.5);

	.column > * {
		margin-bottom: 0 !important;
	}

	.card-type {
		margin-bottom: floor($spc / 2);

		.card {
			margin-right: floor($spc / 2);
			height: 45px;
		}
	}

	.payment {
		.column {
			text-align: center;

			img {
				margin: 0 auto;
				width: 100%;
			}
		}
	}
}


// Password Meter

.password-wrapper {
	display: inline-block;
	position: relative;
	margin-bottom: $spc / 2;
	width: 100%;
	vertical-align: top;
	border-radius: $rds;
	overflow: hidden;

	input {
		display: block;
		margin: 0;
		width: 100%;
	}

	.password-meter-mask {
		display: block;
		position: absolute;
		margin: 0 auto;
		width: 0;
		height: 2px;
		bottom: 0;
		overflow: hidden;
		z-index: 10;
	}

	.password-meter {
		display: block;
		position: relative;
		width: 0;
		height: 5px;

		$pwdRed: #ee4444;
		$pwdYellow: #ffaa22;
		$pwdGreen: #66cc22;

		background: $pwdRed;
		@include linear-gradient($pwdRed, 0%, $pwdYellow, 100%)
	}
}


// Dropdown

.dropdown-wrapper {
	display: block;
	position: relative;
	color: $c2;
	margin: 0;
	margin-bottom: $spc / 2;
	padding: 0;
	width: 100%;
	font-family: $fontText;
	font-size: $fsz + rem;
	text-align: left;
	vertical-align: top;
	cursor: pointer;
	user-select: none;
	background-clip: padding-box;
	z-index: 20;

	&:hover,
	&.active {
		.dropdown-arrow {
			background-color: $color2;

			.icon {
				@include svgColor($cf);
			}
		}
	}
	&.active {
		overflow: visible;
		z-index: 90;

		select {
			+ .dropdown-current {
				box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
			}

			&:focus {
				box-shadow: none !important;

				+ .dropdown-current {
					// border-color: $inputFocusColor !important;
					box-shadow: 0 0 10px $inputFocusColor !important;
				}
			}
		}
	}

	&:active {
		.dropdown-arrow {
			background: $c3;
			box-shadow: inset 0px 1px 1px 0 rgba(0, 0, 0, .15) !important;

			.icon {
				@include svgColor($cf);
			}
		}
	}


	select {
		display: block;
		position: absolute;
		margin: 0 !important;
		padding: 0 !important;
		left: 0;
		top: 0;
	}

	.dropdown-current {
		display: block;
		position: relative;
		padding: floor($spc / 2) floor($spc / 1.5);
		border: 1px solid $cd;
		border-radius: $rds;
		background: #fafafa;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		cursor: pointer;
		z-index: 30;
	}

	.dropdown-arrow {
		display: none;
		position: absolute;
		margin: 0;
		padding: 0;
		width: 42px;
		top: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		border: 0 solid rgba(0, 0, 0, 0.4);
		border-radius: 0 $rds $rds 0 !important;
		background: $color1;
		z-index: 50;

		.icon {
			width: 14px;
			height: 14px;
			@include svgColor($cf);
		}
	}


	$dropdownItemHeight: 53;
	$dropdownItemCount: 5;

	.dropdown {
		display: block;
		margin: 0;
		margin-top: 0;
		padding: 0;
		width: 100%;
		overflow: auto;
		overflow-x: hidden;
		z-index: 15;

		.dropdown-item {
			display: block;
			position: relative;
			padding: floor($spc / 1.5) !important;
			background: $ce;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			cursor: pointer;

			&:hover {
				color: $cf;
				background: $color2 !important;
			}

			&:active,
			&.active {
				color: $cf;
				background: $color1 !important;
			}
		}
	}


	&.drop {
		.dropdown-arrow {
			display: block;
		}

		.dropdown-current {
			padding-right: 54px;
			color: $color1;
		}

		.dropdown {
			position: absolute;
			width: auto;
			height: 0;
			max-height: ($dropdownItemHeight * $dropdownItemCount) + px;
			left: 5px;
			right: 5px;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
			opacity: 0;
			transition: {
				property: opacity transform;
				duration: $animDuration;
				timing-function: $animEasing;
			}
			transform: translateY(0px) translateZ(0px);

			&.default {
				margin-top: -1px;
				top: 100%;
				transform: translateY(-10px) translateZ(0px);
			}
			&.bound {
				margin-top: 1px;
				bottom: 100%;
				transform: translateY(10px) translateZ(0px);
			}
			&.up {
				margin-top: 1px !important;
				bottom: 100% !important;
				transform: translateY(10px) translateZ(0px) !important;
			}

			.dropdown-item {
				border-top: 1px solid $cd;

				&:first-child {
					border-top: 0;
				}
			}
		}

		&.active {
			.dropdown {
				height: auto;
				opacity: 1;
				transform: translateY(0) translateZ(0px) !important;
			}
		}
	}

	&.list {
		.dropdown-current,
		.dropdown-arrow {
			display: none;
		}

		.dropdown {
			position: relative;
			border: 1px solid $cd;
			border-radius: $rds;
			background: $cf;
			overflow: auto;

			.dropdown-item {
				margin-top: 0;
				border-top: 1px solid $cd;
				background: #fafafa;

				&:first-child {
					border-top: 0;
				}
			}
		}
	}
}


// File Input

.file-wrapper,
.multifile-wrapper {
	position: relative;
	margin-bottom: $spc / 2;
	width: 100%;
	border: 0;
	white-space: nowrap;

	&.last {
		.fake-close {
			display: none !important;
		}
	}

	input[type="file"] {
		position: relative;
		margin: 0;
		padding: floor($spc / 2) floor($spc / 1.5);
		text-align: right;
		z-index: 5;
		opacity: 0;
	}

	.fakefile {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border: 0;
		z-index: 10;

		$buttonWidth: 120px;

		.fake-upload {
			position: absolute;
			margin: 3px;
			width: $buttonWidth;
			height: auto;
			top: 0;
			left: 0;
			bottom: 0;
			line-height: 1.2;
			text-align: center;
			z-index: 1;
		}

		.file-result {
			display: block;
			position: absolute;
			padding: floor($spc / 2) floor($spc / 1.5);
			padding-left: $buttonWidth + 15;
			padding-right: 44px;
			width: 100%;
			top: 0px;
			left: 0px;
			color: $color1;
			border: 1px solid $cd;
			border-radius: $rds;
			background: $cf;
			overflow: hidden;
			text-overflow: ellipsis;
			vertical-align: middle;

			&.loaded {
				color: $c2;
			}
		}

		.fake-close {
			display: block;
			position: absolute;
			margin: 3px;
			padding: 0;
			width: 42px;
			top: 0;
			right: 0;
			bottom: 0;
			border: 0 solid rgba(0, 0, 0, 0.4);
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-top-right-radius: $rds;
			border-bottom-right-radius: $rds;
			background: $color1;
			z-index: 50;

			@extend .valign-middle;

			.icon {
				width: 16px;
				height: 16px;
				top: 1px;
			}
		}
	}
}



// Validation

.input-validation-error {
	border: 2px solid $inputFailureColorBorder;
}
.field-validation-error {
	display: block;
	margin-top: 5px;
	color: $inputFailureColorText;
	font-size: $fsz / 1.1 + rem;
}

.dropdown-current,
[required] {
	&.valid {
		color: $inputSuccessColorText !important;
		border-color: $inputSuccessColorBorder;
		background-color: $inputSuccessColorBg !important;

		&::-webkit-input-placeholder {
			color: $inputSuccessColorText !important;
		}
		&::-moz-placeholder {
			color: $inputSuccessColorText !important;
		}
		&:-moz-placeholder {
			color: $inputSuccessColorText !important;
		}
		&:-ms-input-placeholder {
			color: $inputSuccessColorText !important;
		}
		&.placeholder-text,
		&.placeholder_text {
			color: $inputSuccessColorText !important;
		}
	}
	&.invalid {
		color: $inputFailureColorText !important;
		border-color: $inputFailureColorBorder;
		background-color: $inputFailureColorBg !important;

		&::-webkit-input-placeholder {
			color: $inputFailureColorText !important;
		}
		&::-moz-placeholder {
			color: $inputFailureColorText !important;
		}
		&:-moz-placeholder {
			color: $inputFailureColorText !important;
		}
		&:-ms-input-placeholder {
			color: $inputFailureColorText !important;
		}
		&.placeholder-text,
		&.placeholder_text {
			color: $inputFailureColorText !important;
		}
	}
}

[readonly],
[disabled],
[readonly]:focus,
[disabled]:focus,
.valid[readonly],
.valid[disabled],
.invalid[readonly],
.invalid[disabled] {
	color: $ca !important;
	border-color: $ca !important;
	border-style: dotted !important;
	background-color: $ce !important;
	box-shadow: none !important;
	user-select: none;
	cursor: no-drop !important;

	&::-webkit-input-placeholder {
		color: $ca !important;
	}
	&::-moz-placeholder {
		color: $ca !important;
	}
	&:-moz-placeholder {
		color: $ca !important;
	}
	&:-ms-input-placeholder {
		color: $ca !important;
	}
	&.placeholder-text,
	&.placeholder_text {
		color: $ca !important;
	}
}

.controller {
	input {
		&:focus {
			+ label {
				.toggle-switch,
				&:before,
				&:after {
					// border-color: $inputFocusColor !important;
					box-shadow: 0 0 10px $inputFocusColor !important;
				}
			}
		}
		&.valid {
			+ label {
				color: $inputSuccessColorText !important;

				.toggle-switch,
				&:before,
				&:after {
					color: $inputSuccessColorText !important;
					border-color: $inputSuccessColorBorder;
					background-color: $inputSuccessColorBg !important;
				}
			}
		}
		&.invalid {
			+ label {
				color: $inputFailureColorText !important;

				.toggle-switch,
				&:before,
				&:after {
					color: $inputFailureColorText !important;
					border-color: $inputFailureColorBorder;
					background-color: $inputFailureColorBg !important;
				}
			}
		}
		&[readonly],
		&[disabled] {
			+ label {
				color: $ca !important;
				cursor: no-drop !important;

				.toggle-switch,
				&:before,
				&:after {
					color: $c8 !important;
					border-color: $cb !important;
					border-style: dotted !important;
					background-color: $ce !important;
					box-shadow: none !important;
					user-select: none;
					cursor: no-drop !important;
				}
			}
		}
	}
}



// Progress Bar

$progressHeight: 42px;

progress {
	display: block;
	position: relative;
	margin: floor($spc / 2) 0;
	padding: 0;
	width: 100%;
	height: $progressHeight;
	overflow: hidden;
	appearance: none;
}

@include keyframes(animate-stripes) {
	from  {
		background-position: 0 0;
	}
	to {
		background-position: 500px 0;
	}
}

progress[value] {
	display: block;
	position: relative;
	margin: 0 0 floor($spc / 2);
	padding: 0;
	width: 100%;
	height: $progressHeight;
	color: $color1;
	border: none;
	border-radius: $rds;
	background-color: $ce;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35) inset;
	appearance: none;

	&::-webkit-progress-bar {
		border-radius: $rds;
		background-color: $ce;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35) inset;
	}
	&::-webkit-progress-value {
		position: relative;
		border-radius: $rds;
		background-image:
			-webkit-linear-gradient( 135deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
			-webkit-linear-gradient( to bottom, rgba(255, 255, 255, .25), rgba(0, 0, 0, 0.2)),
			-webkit-linear-gradient( to right, $color1, $color1);
		background-size:
			($progressHeight * 2) $progressHeight,
			100% 100%,
			100% 100%;
		animation: animate-stripes 5s linear infinite;
		transition: width $animDuration $animEasing;
	}
	&::-webkit-progress-value:after {
		position: absolute;
		margin-top: -5px;
		width: 10px;
		height: 10px;
		top: 50%;
		right: 14px;
		border-radius: 100px;
		background-color: $ce;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75) inset;
		content: '';
	}
	&::-moz-progress-bar {
		border-radius: $rds;
		background-image:
			-moz-linear-gradient( 135deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
			-moz-linear-gradient( to bottom, rgba(255, 255, 255, .25), rgba(0, 0, 0, 0.2)),
			-moz-linear-gradient( to right, $notifySuccessColorBg, $notifySuccessColorBg);
		background-size:
			($progressHeight * 2) $progressHeight,
			100% 100%,
			100% 100%;
	}

	&.valid {
		&::-webkit-progress-value {
			background-image:
				-webkit-linear-gradient( to bottom, rgba(255, 255, 255, .25), rgba(0, 0, 0, 0.2)),
				-webkit-linear-gradient( to right, $notifySuccessColorBg, $notifySuccessColorBg);
			background-size:
				100% 100%,
				100% 100%;
		}
		&::-moz-progress-bar {
			background-image:
				-moz-linear-gradient( to bottom, rgba(255, 255, 255, .25), rgba(0, 0, 0, 0.2)),
				-moz-linear-gradient( to right, $notifySuccessColorBg, $notifySuccessColorBg);
			background-size:
				100% 100%,
				100% 100%;
		}

	}
}

.progress-bar {
	width: 100%;
	height: $progressHeight;
	border-radius: $rds;
	background-color: $ce;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35) inset;

	span {
		display: block;
		height: $progressHeight;
		text-indent: -9999px;
		border-radius: $rds;
		background-color: $color1;
	}
}

label[data-progress] {
	white-space: nowrap;
	transition: width $animDuration $animEasing;

	&.active {
		&:after {
			opacity: 1;
		}
	}

	&:after {
		position: absolute;
		padding: 2px 5px;
		top: 46px;
		right: 36px;
		font-size: $fsz / 1.2 + rem;
		color: $color1;
		text-align: center;
		border-radius: $rds;
		background-color: $ce;
		content: attr(data-progress) '%';
		z-index: 20;
		opacity: 0;
		transition: opacity $animDuration $animEasing;
	}
}



@media (#{-webkit-min-device-pixel-ratio}: #{0}) {

	select[size],
	select[multiple],
	select[multiple][size] {
		padding-right: 3px;
		background-image: none;
	}

	select,
	select[size="0"],
	select[size="1"] {
		padding-right: 20px;
		background-repeat: no-repeat;
		background-position: right center;
	}

	::-webkit-validation-bubble-message {
		-webkit-box-shadow: none;
		box-shadow: none;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
		border: 1px solid;
		border-color: #747474 #5e5e5e #4f4f4f;
		color: white;
		font: 13px / 17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
		overflow: hidden;
		padding: 15px 15px 17px;
		text-shadow: black 0 0 1px;
		height: 16px;
	}

	::-webkit-validation-bubble-arrow,
	::-webkit-validation-bubble-top-outer-arrow,
	::-webkit-validation-bubble-top-inner-arrow {
		-webkit-box-shadow: none;
		box-shadow: none;
		background: #666666;
		border: 0;
	}

}
