// Grid System

.row {
	display: block;
	position: relative;
	margin: 0 (- $gut / 2);
	@extend .block-reset;
}

.column {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: $gut / 2;
	width: 100%;
	vertical-align: top;

	@for $i from 1 through $col {
		&[data-span="#{$i}"] {
			width: percentage($i / $col);
		}
		&[data-push="#{$i}"] {
			margin-left: percentage($i / $col);
		}
	}
}

.cell {
	display: block;
	position: relative;
	padding: floor($spc / 2);
}

.debug {
	.column {
		&:before,
		&:after {
			display: none;
			position: absolute;
			top: -5px;
			color: $color1;
			font-size: $fsz / 1.8 + rem;
			opacity: 0.75;
			z-index: 5;
		}

		&:before {
			display: block;
			left: floor($spc / 2) + 4;
			color: $color1;
			content: "span " attr(data-span);
		}

		.cell {
			padding-top: 30px;
			padding-bottom: 30px;
			@extend .framed;
		}
	}

	&.show-push {
		.column {
			&:after {
				display: block;
				right: floor($spc / 2) + 4;
				color: $color3;
				content: "push " attr(data-push);
			}
		}
	}
}