// Box Model

.inline {
	display: inline !important;
}
.block {
	display: block !important;
}
.inline-block {
	display: inline-block !important;
}
.block-reset {
	font-size: 0;

	> * {
		font-size: $fsz + rem;
	}
}

.fullwidth {
	width: 100% !important;
}
.halfwidth {
	width: 50% !important;
}


.nomargin {
	margin: 0 !important;
}
.margin-ver {
	margin-top: $spc !important;
	margin-bottom: $spc !important;
}
.margin-top {
	margin-top: $spc !important;
}
.margin-bottom {
	margin-bottom: $spc !important;
}
.margin-hor {
	margin-left: $spc !important;
	margin-right: $spc !important;
}
.margin-left {
	margin-left: $spc !important;
}
.margin-right {
	margin-right: $spc !important;
}
.fullmargin {
	margin: $spc !important;
}


.nopadding {
	padding: 0 !important;
}
.padding-ver {
	padding-top: $spc !important;
	padding-bottom: $spc !important;
}
.padding-top {
	padding-top: $spc !important;
}
.padding-bottom {
	padding-bottom: $spc !important;
}
.padding-hor {
	padding-left: $spc !important;
	padding-right: $spc !important;
}
.padding-left {
	padding-left: $spc !important;
}
.padding-right {
	padding-right: $spc !important;
}
.fullpadding {
	padding: $spc !important;
}


.noborder {
	border: none !important;
}
.border {
	border: 2px dotted $inputFailureColorBorder !important;
}
.dotted {
	border-style: dotted !important;
}
.dashed {
	border-style: dashed !important;
}


.round {
	border-radius: $rds !important;
}
.top-round {
	border-radius: 0 !important;
	border-top-left-radius: $rds !important;
	border-top-right-radius: $rds !important;
}
.right-round {
	border-radius: 0 !important;
	border-top-right-radius: $rds !important;
	border-bottom-right-radius: $rds !important;
}
.bottom-round {
	border-radius: 0 !important;
	border-bottom-left-radius: $rds !important;
	border-bottom-right-radius: $rds !important;
}
.left-round {
	border-radius: 0 !important;
	border-top-left-radius: $rds !important;
	border-bottom-left-radius: $rds !important;
}
.circle {
	border-radius: 1000px !important;
}
.noradius {
	border-radius: 0 !important;
}

.square {
	&:after {
		display: inline-block;
		padding-top: 100%; 	/* initial ratio of 1:1 */
		content: "";
		vertical-align: top;
	}
}


.clean {
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	color: $colorText;
	border: 0;
	border-radius: 0;
	background: none;

	.emphasis {
		color: $color2;
	}
}

.framed {
	margin-left: 0;
	margin-right: 0;
	padding: floor($spc / 2);
	color: $colorText;
	border: 1px solid $cd;
	border-radius: $rds;
	background: $ce;
}

.card {
	@extend .framed;
	border: 0;
	background-color: $cf;
	box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .14), 0 3px 1px -3px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}



// Positioning

.absolute {
	position: absolute !important;
}
.relative {
	position: relative !important;
}


.valign-top {
	vertical-align: top !important;
}
.valign-middle {
	font-size: 0 !important;

	&:after {
		display: inline-block !important;
		position: relative !important;
		margin: 0 !important;
		margin-right: -0.25em !important;
		width: 0 !important;
		height: 100% !important;
		top: 0 !important;
		left: 0 !important;
		content: "" !important;
		vertical-align: middle !important;
	}

	& > * {
		display: inline-block;
		font-size: $fsz + rem;
		vertical-align: middle !important;
	}
}
.valign-bottom {
	vertical-align: bottom !important;
}
.valign-baseline {
	vertical-align: baseline !important;
}


.left {
	float: left !important;
	left: 0 !important;
}
.center {
	margin-left: auto !important;
	margin-right: auto !important;
}
.right {
	float: right !important;
	right: 0 !important;
}


.nofloat {
	float: none !important;
}
.float-left {
	float: left !important;
}
.float-right {
	float: right !important;
}


.clear-left {
	clear: left !important;
}
.clear-right {
	clear: right !important;
}
.clear-both {
	clear: both !important;
}


.hidden {
	display: none !important;
}
.highlight {
	display: inline !important;
	border-radius: $rds !important;
	background: rgba(0, 0, 0, 0.1) !important;
}
.disappear {
	display: none !important;
	margin: 0 !important;
	padding: 0 !important;
	width: 0 !important;
	height: 0 !important;
	font-size: 0 !important;
	border: 0 solid black !important;
	visibility: hidden !important;
	overflow: hidden !important;
}


.noscroll {
	overflow: hidden !important;
}
.noscroll-x {
	overflow-x: hidden !important;
}
.noscroll-y {
	overflow-y: hidden !important;
}


.pointer {
	cursor: pointer !important;
}



// Typography

.font-custom {
	font-family: $fontHeading;
}

.font-zero {
	font-size: 0 !important;
}
.font-xxsmall {
	font-size: $fsz / 2.2 + rem;
}
.font-xsmall {
	font-size: $fsz / 1.8 + rem;
}
.font-small {
	font-size: $fsz / 1.4 + rem;
}
.font-reduced {
	font-size: $fsz / 1.2 + rem;
}
.font-normal {
	font-size: $fsz + rem;
}
.font-medium {
	font-size: $fsz * 1.2 + rem;
}
.font-expanded {
	font-size: $fsz * 1.4 + rem;
}
.font-large {
	font-size: $fsz * 1.7 + rem;
}
.font-xlarge {
	font-size: $fsz * 2 + rem;
}
.font-xxlarge {
	font-size: $fsz * 2.4 + rem;
}
.font-max {
	font-size: $fsz * 2.8 + rem;
}
.font-ultra {
	font-size: $fsz * 3.2 + rem;
}


.lowercase {
	text-transform: lowercase !important;
}
.uppercase {
	text-transform: uppercase !important;
}
.capitalize {
	text-transform: capitalize !important;
}


.light {
	font-weight: 300 !important;
}
.normal {
	font-weight: 400 !important;
	font-style: normal !important;
}
.semibold {
	font-weight: 600 !important;
}
.bold {
	font-weight: 700 !important;
}
.ultrabold {
	font-weight: 900 !important;
}
.italic {
	font-style: italic !important;
}


.underline {
	text-decoration: underline !important;
}
.strikethrough {
	text-decoration: line-through !important;
}


.text-left {
	text-align: left !important;
}
.text-right {
	text-align: right !important;
}
.text-center {
	text-align: center !important;
}
.text-justify {
	text-align: justify !important;
}


.normalwrap {
	white-space: normal !important;
}
.nowrap {
	white-space: nowrap !important;
}


.arial {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
.monospace {
	font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace !important;
}



// Colours

.white {
	color: $cf !important;
}
.black {
	color: $c0 !important;
}
.light-gray {
	color: $cd !important;
}
.gray {
	color: $c4 !important;
}
.dark-gray {
	color: $c2 !important;
}



// Animation

.animate {
	transition-property: all;
	transition-duration: $animDuration;
	transition-timing-function: $animEasing;
}

.hardware-accel {
	transform: translate3d(0, 0, 0);
}