// Responsive

@media screen and (max-width: $scrDeskL) {

	.search-results {
		&[data-view="grid"] {
			.search-item {
				width: percentage(3 / 12) - 2;
			}
		}
	}

}



@media screen and (max-width: $scrDeskS) {

	.wrapper {
		width: 100%;
	}


	// Slider

	.slider {
		.slider-nav {
			&.thumbs {
				.slider-bullet {
					padding-bottom: 9%;
					width: 9%;
				}
			}
		}
	}


	// Map

	.map-wrapper {
		height: 60vw;
	}


	// Search

	.search-results {
		&[data-view="grid"] {
			.search-item {
				width: percentage(4 / 12) - 2;
			}
		}
	}

}



@media screen and (max-width: $scrTablL) {

	.mobile-show {
		display: block !important;
	}
	.mobile-hide {
		display: none !important;
	}

	.table-mirror {
		display: table !important;
	}


	// Font sizes

	.structure.clean {
		font-size: $fsz / 1.1 + rem;
	}


	// Widths

	.column {
		width: 100% !important;

		@for $i from 1 through ($col / 4) {
			&[data-span="#{$i}"] {
				width: 50% !important;
			}
		}

		@for $i from 1 through ($col / 6) {
			&[data-span="#{$i}"] {
				width: 33.333% !important;
			}
		}
	}

	.button,
	button,
	input[type="reset"],
	input[type="submit"],
	input[type="button"] {
		margin-bottom: 4px;
	}


	// Forms

	input,
	select,
	textarea,
	.input-addon,
	.password-wrapper,
	.file-wrapper,
	.dropdown-wrapper {
		width: 100% !important;
	}

	input[type="radio"],
	input[type="checkbox"] {
		width: auto;
	}

	.input-group {
		input {
			text-align: left;

			&:first-child {
				border-top-radius: $rds;
				border-bottom-radius: 0;
			}
			&:last-child {
				border-top-radius: 0;
				border-bottom-radius: $rds;
			}
		}

		.input-addon {
			text-align: left;
			border: 1px solid $cd;
			border-top: 0;
			border-bottom: 0;
		}
	}

	.multifile-info {
		display: none !important;
	}


	// Search

	.search-results {
		&[data-view="grid"] {
			.search-item {
				width: percentage(6 / 12) - 2;
			}
		}
	}


	// Tables

	.table-original {
		display: none;
	}

	table {
		caption {
			font-size: $fsz + rem;
			text-align: center;
		}

		tr {
			th,
			td {
				&:last-child {
					font-weight: normal;
					text-align: left;
					background: none;
				}
			}
		}
	}


	// Notification

	.notification-wrapper {
		margin: 3%;
		width: 94%;
		font-size: $fsz + rem;
	}


	// Tooltips

	.tooltip {
		cursor: default;
	}


	// Slider

	.slider {
		&:hover {
			.slider-arrow {
				opacity: 1;
			}
		}

		.slider-arrow {
			opacity: 0.75;
			background-color: transparent !important;

			&.slider-arrow-prev {
				margin-left: 0;
			}
			&.slider-arrow-next {
				margin-right: 0;
			}

			.icon {
				@include svgColor($color1);
			}
		}

		.slider-nav {
			&.thumbs {
				.slider-bullet {
					padding-bottom: 11.5%;
					width: 11.5%;
				}
			}
		}
	}


	// Twitter

	[data-twitter] {
		&.twitter-main {
			.twitter-follow {
				position: relative !important;
				margin: floor($spc / 1.5) auto 0 !important;
				top: 0;
				right: 0;
			}
		}
	}

}



@media screen and (max-width: $scrTablS) {

}



@media screen and (max-width: $scrMoblL) {


	// Columns

	.column {
		width: 100% !important;

		@for $i from 1 through ($col / 4) {
			&[data-span="#{$i}"] {
				width: 100% !important;
			}
		}

		@for $i from 1 through ($col / 6) {
			&[data-span="#{$i}"] {
				width: 50% !important;
			}
		}
	}


	// Slider

	.slider {
		.slider-nav {
			&.thumbs {
				.slider-bullet {
					padding-bottom: 19%;
					width: 19%;
				}
			}
		}
	}


	// Search

	.search-results {
		&[data-view="grid"] {
			.search-item {
				width: auto;
			}
		}
	}


}



@media screen and (max-width: $scrMoblS) {

}
