// Tables

table {
	display: table;
	table-layout: fixed;
	position: relative;
	margin: $spc auto;
	width: auto;
	min-width: 100%;
	text-align: center;
	border-radius: $rds;
    border-collapse: collapse;

	caption {
		position: relative;
		margin-top: floor($spc / 2);
		margin-bottom: floor($spc / 1.5);
		font-size: $fsz * 1.2 + rem;
		font-weight: bold;
	}

	thead,
	tbody {
		position: relative;
		margin: 0 auto;
	}

	th,
	tr,
	td {
		margin: 0;
		padding: floor($spc / 2) floor($spc / 1.5);
		border: 1px solid $cd;

		> * {
			margin: 0 !important;
		}
	}

	tr {
		&:first-child {
			th,
			td {
				font-weight: bold;
				text-align: center;
				background: $ce;
				white-space: nowrap;

				&:first-child {
					border-top-left-radius: $rds;
				}
				&:last-child {
					border-top-right-radius: $rds;
				}
			}
		}

		&:last-child {
			th,
			td {
				&:first-child {
					border-bottom-left-radius: $rds;
				}
				&:last-child {
					border-bottom-right-radius: $rds;
				}
			}
		}

		&.even {
			td {
				background: $cf;
			}
		}

		th,
		td {
			&:first-child {
				font-weight: bold;
				text-align: center;
				background: $ce;
				white-space: nowrap;
			}
		}
	}

	td {
		text-align: left;
		background: $cf;
	}
}